<h1>Favorites Page</h1>

<div class="col-md-2 favorites-card text-center" ng-repeat="official in officials">
	<h4 class="profile-title">{{official.officeTitle}}</h4>
	<a href="{{official.urls[0]}}">
		<p>{{official.officeDiv}}</p>
		<img class="profile-pic" ng-src="{{official.photoUrl}}" alt="">
		<h3 class="profile-name">{{official.name}}</h3>
	</a>
		<div class="profile-caption">
			<p>Party: {{official.party}}</p>
			<p class="profile-email"><a href="mailto:{{official.emails[0]}}">{{official.emails[0]}}</a></p>
			<p>{{official.phones[0]}}</p>
			<a ng-href="http://maps.google.com/?q={{official.address[0].line1}} {{official.address[0].line2}} {{official.address[0].city}}, {{official.address[0].state}} {{official.address[0].zip}}">
				<ul>
					<li>{{official.address[0].line1}}</li>
					<li>{{official.address[0].line2}}</li>
					<li>{{official.address[0].city}}, {{official.address[0].state}}  {{official.address[0].zip}} </li>
				</ul>
			</a>
		</div>
	<button class="btn btn-default detail" ng-click="removeMyFavorite(official)" ng-if="official.favorite"><i class="fa fa-star" aria-hidden="true"></i></button>
	<br>
	<div>
	    <form class="form-horizontal" role="form">
			<div class="form-group">
		        <label class="control-label">Rating: {{official.rating}}</label>
		        <div>
		            <label class="radio-inline"> <input type="checkbox"  ng-click="changeRating(official, 4)" ng-checked="official.rating == 4"><img src="./images/thumbsup-1.png"></label>
		            <label class="radio-inline"> <input type="checkbox"  ng-click="changeRating(official, 3)" ng-checked="official.rating == 3"><img src="./images/neutral-face-1.png"></label>
		        </div>
		        <div>
		            <label class="radio-inline"> <input type="checkbox"  ng-click="changeRating(official, 2)" ng-checked="official.rating == 2"><img src="./images/poop-1.png"></label>
		            <label class="radio-inline"> <input type="checkbox"  ng-click="changeRating(official, 1)" ng-checked="official.rating == 1"><img src="./images/poopFlies-1.png"></label>
		        </div>
		    </div>
		</form>
	</div>
</div> 

<div class="container text-center" data-ng-include="'./partials/footer.html'">
