<div>
	<h1>Landing Page</h1>

	<!-- <p>{{divisions}}</p> -->
</div>
<div>
	<form name="zipSearchForm">
		<div class="row">
			 <label>Search for elected officials by location: (5-digit zip code)&nbsp <input id="zip-search" type="text"  placeholder="e.g., 37232" focus="true" name="zipSearch"  ng-model="zipSearch" minlength="5" maxlength="5" max="99999" required></label>{{zipSearch}}
	<!-- 		 <span class="formError" ng-show="electionForm.electionSearch.$touched && electionForm.electionSearch.$invalid">5-digit zip required.</span> -->
			    <!-- <button class="btn btn-default" id="searchElecBtn" ng-click="runSearch(zipSearch)" ng-disabled="electionForm.$invalid || electionForm.$pristine">Search</Button> -->
			    <button class="btn btn-default" id="searchZipBtn" ng-click="runSearch(zipSearch)">Search</Button>

			    <button class="btn btn-danger" id="clearZipBtn" type="reset" ng-click="reset()">Clear</Button>
		</div>
	</form>
</div>

<div><p>Elected officials from national to the local level for: <b><em>{{formatedAddress}}</em></b></p></div>

<div class="col-md-3 profile-card" ng-repeat="official in officials">
	
	<h3>{{official.officeTitle}}</h3>
	<button class="btn btn-default detail" ng-click="removeFavorite(official)" ng-if="official.favorite"><i class="fa fa-star" aria-hidden="true"></i></button>
	<button class="btn btn-default detail" ng-click="saveFavorite(official)" ng-if="!official.favorite"><i class="fa fa-star-o" aria-hidden="true"></i></button>
	<a href="{{official.urls[0]}}">
		<p>{{official.officeDiv}}</p>
		<img class="profile-pic" ng-src="{{official.photoUrl}}" alt="">
		<div class="caption">
			<h3>{{official.name}}</h3>
			<p>Party: {{official.party}}</p>
			<p>{{official.emails[0]}}</p>
			<p>{{official.phones[0]}}</p>
			<ul>
				<li>{{official.address[0].line1}}</li>
				<li>{{official.address[0].line2}}</li>
				<li>{{official.address[0].city}}, {{official.address[0].state}}  {{official.address[0].zip}} </li>
			</ul>
		</div>
	</a>
</div> 