ul {
  list-style: none; }

a {
  underline: none; }

ul {
  padding: 0; }

.hide {
  visibility: hidden; }

.profile-pic {
  height: 115px;
  width: 75; }

#zip-search {
  height: 30px; }

#footer {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  padding: 1%; }

.profile-card, .favorites-card {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  padding-top: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 3px;
  margin-left: 3px;
  box-shadow: 3px 3px 6px -3px black;
  min-height: 550px; }

.favorites-card {
  min-height: 610px; }

.profile-title {
  min-height: 60px; }

.profile-name {
  min-height: 52px; }

.profile-caption {
  min-height: 170px; }

.profile-email {
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 20px; }

.profile-rating {
  margin: 2px; }

.button-selected {
  background-color: lightgreen; }
